<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Star Wars People</title>
</head>
<body>
<h1>Star Wars People</h1>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Birth Year</th>
        <th>Gender</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="person : ${people}">
        <td th:text="${person.name}"></td>
        <td th:text="${person.birthYear}"></td>
        <td th:text="${person.gender}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
